@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: libre franklin, sans-serif;
    font-weight: 120px;
    color: #0d0e0d;
    background-color: rgb(228, 224, 224);
}

/* Navigation links and logo */

/* Header styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid #2b9c71;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(228, 224, 224);
    z-index: 9999;
}

.tennis-ball-home-button {
    max-width: 70px;
    max-height: 70px;
    margin-left: 20px;
    margin-top: 10px;
}

.menu {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 5px;
    color: #2b9c71;
}

.menu ul {
    float: right;
}

.menu li {
    float: left;
    list-style-type: none;
    margin: 10px 20px 0 0;
    text-decoration: none;
    border-right: 2px solid #2b9c71;
    padding: 5px;
}

.menu a {
    text-decoration: none;
}

.menu li a:hover {
    border-bottom: 2px solid #2b9c71;
}

/* Headings */

/* Home page title */

h1 {
    font-family: abril fatface, sans-serif;
    font-weight: 250px;
    font-size: 80px;
    text-transform: uppercase;
    color: #2b9c71;
    margin: 50px 30px;
    margin-top: 180px;
    text-align: center;
    letter-spacing: 8px;
    border: 5px solid #F8AB46;
    border-image-width: 100px;
}

/* h2 headings styling */

h2 {
    font-family: abril fatface, sans-serif;
    font-weight: 250px;
    font-size: 50px;
    text-transform: uppercase;
    color: #2b9c71;
    margin: 50px 30px;
    text-align: center;
    letter-spacing: 3px;
}

/* Hero image */

.hero-image {
    max-width: 100%;
    background: no-repeat center center;
}

/* Home page cover text styling */

.cover-text {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    top: 100%;
    left: 8%;
    background-color: rgba(248, 171, 70, 0.884);
    position: absolute;
}

.cover-text h3 {
    font-family: abril fatface, sans-serif;
    font-size: 380%;
    color: #0d0e0d;
    text-align: center;
    padding: 5px;
    margin-top: 18%;
}

/* How it works */

.sub-heading {
    margin: 100px 30px 50px 30px;
}

/* How it works background image */

.how-it-works {
    background-image: url(../images/how-it-works-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 50px 0;
}

/* How it works text styling */

.how-it-works div {
    color: rgb(228, 224, 224);
    background-color: rgba(0, 0, 0, .7);
    font-size: 40px;
    width: 25%;
    height: 500px;
    padding: 30px 0 0 20px;
    float: left;
    text-align: center;
    border: 8px solid #F8AB46;
    box-sizing: border-box;
    display: table;
    position: relative;
}

.how-it-works h4 {
    display: table-cell;
    vertical-align: middle;
}

.how-it-works i {
    color: #F8AB46;
    position: absolute;
    top: 50px;
    left: calc(50% - 26.25px);
    font-size: 1.5em;
}

/* footer */

footer {
    height: 10%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    padding: 3%;
    color: #2b9c71;
}

/* Join us page*/

/* Join us form styling */

.join-us {
    border: 8px solid #F8AB46;
    text-align: center;
    width: 50%;
    height: 500px;
    padding: 10px;
    background: rgba(228, 224, 224, 0.9);
    margin: 200px auto;
    top: 30px;
    left: 450px;
    position: absolute;
}

.join-us div {
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.join-us-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.radio-text {
    padding: 5px;
    font-style: italic;
}

.buttons {
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border: 2px solid #F8AB46;
    color: #2b9c71;
    font-weight: bold;
}

input[type="text" i] {
    margin-left: 20px;
}

/* Thank you page */

/* Thank you box styling */

.thank-you {
    border: 8px solid #F8AB46;
    text-align: center;
    width: 50%;
    height: 500px;
    padding: 10px;
    background: rgba(228, 224, 224, 0.9);
    margin: 200px auto;
    top: 30px;
    left: 450px;
    position: absolute;
}

.thank-you h2 {
    text-align: center;
    margin-top: 10%;
}

.thank-you h3 {
    text-align: center;
    margin: 5%;
    font-size: 180%;
    font-family: abril fatface, sans-serif;
    color: #0d0e0d;
    padding: 5px;
}

/* Tennis courts page*/

.courts {
    margin-top: 180px;
    display: block;
}

/* Tennis courts h3 styling */

.courts h3 {
    font-family: abril fatface, sans-serif;
    font-weight: 150px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2b9c71;
    margin: 25px 0;
}

/* Tennis courts text box styling */

.north-txt-box {
    float: left;
    text-align: left justify;
    height: 500px;
    width: 48%;
    border: 8px solid #F8AB46;
    padding: 5px;
    margin: 5px;
    font-size: 22px;
    display: block;
}

.east-txt-box {
    float: right;
    text-align: right justify;
    height: 500px;
    width: 48%;
    border: 8px solid #F8AB46;
    margin: 5px;
    padding: 5px;
    font-size: 22px;
    display: block;
}

.south-txt-box {
    float: left;
    text-align: left justify;
    height: 500px;
    width: 48%;
    border: 8px solid #F8AB46;
    margin: 5px;
    padding: 5px;
    font-size: 22px;
    display: block;
}

.west-txt-box {
    float: right;
    text-align: right justify;
    height: 500px;
    width: 48%;
    border: 8px solid #F8AB46;
    margin: 5px;
    padding: 5px;
    font-size: 22px;
    display: block;
}

/* Tennis courts maps styling */

.north-map {
    width: 49%;
    height: 526px;
    padding: 5px;
    margin-left: 5px;
}

.east-map {
    width: 49%;
    height: 526px;
    padding: 5px;
    margin-left: 5px;
}

.south-map {
    width: 49%;
    height: 526px;
    padding: 5px;
    margin-left: 5px;
}

.west-map {
    width: 49%;
    height: 526px;
    padding: 5px;
    margin-left: 5px;
}

/* Media queries */

/* For larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {}