@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Libre Franklin, sans-serif;
    font-weight: 300px;
    color: darkslategray;
}

/* navigation links and logo */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid #007b22;
    padding: 10px;
}

#tennis-ball {
    max-width: 70px;
    max-height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: darkslategray;
}

#menu ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li a:hover {
    border-bottom: 2px solid darkslategray;
}

/* headings */

h1 {
    font-family: Abril Fatface, sans-serif;
    font-weight: 250px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkslategray;
    margin-top: 100px;
    text-align: center;
}



