@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Franklin:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: libre franklin, sans-serif;
    font-weight: 300px;
    color: darkslategray;
    background-color: lightgrey;
}

/* navigation links and logo */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid #007b22;
    padding: 10px;
}

#home-tennis-ball {
    max-width: 70px;
    max-height: 70px;
    margin-left: 20px;
    margin-top: 20px;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    color: darkslategray;
}

#menu ul {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
    border-right: 2px solid black;
    padding: 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li a:hover {
    border-bottom: 2px solid darkslategray;
}

/* headings */

h1 {
    font-family: abril fatface, sans-serif;
    font-weight: 250px;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkslategray;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-family: abril fatface, sans-serif;
    font-weight: 250px;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: darkslategray;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-mudassir-ali-1619860_small.jpg) no-repeat center center;
}

#cover-text, #cover-text h2 {
    color: black;
}

#cover-text {
    width: 250px;
    height: 250px;
    border-radius: 50%;

    background-color: rgba(244, 165, 0, .7);

    bottom: 2px;
    left: 120px;

    position: absolute;

    font-size: 20px;
    text-align: center;
    line-height: 40px;
    padding: 5px;
}

/* Why Join Us */

#why-join-us {
    height: 600px;
}

.left-tennis-ball, .center-tennis-ball, .right-tennis-ball {
    max-width: 300px;
    max-height: 300px;
}

#left-about {
    float: left;
    text-align: left;
    max-width: 200px;
    margin-left: 20px;
}

#center-about {
    margin: 0 auto;
    text-align: center;
    max-width: 200px;
}

#right-about {
    float: right;
    text-align: right;
    max-width: 200px;
    margin-right: 100px;
    margin-bottom: 200px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: darkslategray;
}